<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCO-3laeSc7RtUOKpksm-nMw0AsxVKhbTM</string>
	<key>GCM_SENDER_ID</key>
	<string>489896571281</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.graduation.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>graduation-project-c1589</string>
	<key>STORAGE_BUCKET</key>
	<string>graduation-project-c1589.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:489896571281:ios:f629872d59bae0b9d4ea30</string>
</dict>
</plist>